# Table of Contents

## 1. Importing Data
## 2. Data Overview
## 3. Data Wrangling
### 3.1. Reducing Data Size
### 3.2. Missing Value Check
### 3.3. Duplicate Value Check
### 3.4. Deriving New Columns
### 3.5. Dropping Unnecessary Columns
### 3.6. Changing Column Name
## 4. Exporting Data

---
## 1. Importing Data

In [25]:
# load libraries

import pandas as pd
import os

In [26]:
# define path to data

path = "/Users/berkergoz/Desktop/US_Gas_Analysis/02_Data"

In [27]:
# define a function to load data, except path error (e.g., file not found, change the path accordingly)

def load_data(path):
    """
    Load data from a CSV file into a pandas DataFrame.
    
    Parameters:
    path (str): The path to the CSV file.
    
    Returns:
    pd.DataFrame: The loaded data as a DataFrame.
    """
    try:
        df = pd.read_csv(os.path.join(path, "original_data", "gas_data.csv"))
        return df
    except Exception as e:
        print(f"Error loading data: {e}")
        return None

In [28]:
# load the data
df = load_data(path)

# check if the data is loaded successfully
if df is not None:
    print("Data loaded successfully.")
else:
    print("Failed to load data.")

Data loaded successfully.

In [29]:
# set up display options for pandas

pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows
pd.set_option('display.width', 200)  # Show columns in a wider format

## 2. Data Overview

In [30]:
# check the first few rows of the data

print(df.head())

   year  month duoarea area-name product product-name process            process-name    series                                 series-description   value units
0  2014      1     SFL   FLORIDA    EPG0  Natural Gas     VCS  Commercial Consumption  N3020FL2  Natural Gas Deliveries to Commercial Consumers...  6605.0  MMCF
1  2014      1     SNH    USA-NH    EPG0  Natural Gas     VCS  Commercial Consumption  N3020NH2  Natural Gas Deliveries to Commercial Consumers...  1691.0  MMCF
2  2014      1     SOR    USA-OR    EPG0  Natural Gas     VCS  Commercial Consumption  N3020OR2  Natural Gas Deliveries to Commercial Consumers...  4711.0  MMCF
3  2014      1     SDE    USA-DE    EPG0  Natural Gas     VCS  Commercial Consumption  N3020DE2  Natural Gas Deliveries to Commercial Consumers...  2128.0  MMCF
4  2014      1     SAZ    USA-AZ    EPG0  Natural Gas     VCS  Commercial Consumption  N3020AZ2  Natural Gas Deliveries to Commercial Consumers...  3915.0  MMCF

In [31]:
# check the last few rows of the data

print(df.tail())

       year  month duoarea      area-name product product-name process             process-name    series                                 series-description    value units
37989  2024      1     SMN      MINNESOTA    EPG0  Natural Gas     VRS  Residential Consumption  N3010MN2  Minnesota Natural Gas Residential Consumption ...  24866.0  MMCF
37990  2024      1     SNE         USA-NE    EPG0  Natural Gas     VRS  Residential Consumption  N3010NE2  Nebraska Natural Gas Residential Consumption (...   7800.0  MMCF
37991  2024      1     SVA         USA-VA    EPG0  Natural Gas     VRS  Residential Consumption  N3010VA2  Virginia Natural Gas Residential Consumption (...  15938.0  MMCF
37992  2024      1     SCT         USA-CT    EPG0  Natural Gas     VRS  Residential Consumption  N3010CT2  Connecticut Natural Gas Residential Consumptio...   9299.0  MMCF
37993  2024      1     SMA  MASSACHUSETTS    EPG0  Natural Gas     VRS  Residential Consumption  N3010MA2  Massachusetts Natural Gas Residential Consumpt...  20557.0  MMCF

In [32]:
# Check df information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37994 entries, 0 to 37993
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                37994 non-null  int64
 1   month               37994 non-null  int64
 2   duoarea             37994 non-null  object
 3   area-name           37994 non-null  object
 4   product             37994 non-null  object
 5   product-name        37994 non-null  object
 6   process             37994 non-null  object
 7   process-name        37994 non-null  object
 8   series              37994 non-null  object
 9   series-description  37994 non-null  object
 10  value               37518 non-null  float64
 11  units               37994 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 3.5+ MB

In [33]:
# check the basic statistics of the data

df.describe()

               year         month         value
count  37994.000000  37994.000000  3.751800e+04
mean    2018.545455      6.454545  2.970826e+04
std        2.903442      3.473677  1.504204e+05
min     2014.000000      1.000000  0.000000e+00
25%     2016.000000      3.000000  8.092500e+02
50%     2019.000000      6.000000  4.380000e+03
75%     2021.000000      9.000000  1.616350e+04
max     2024.000000     12.000000  3.391775e+06

In [34]:
# check the df shape

print(f"Data shape: {df.shape}")

Data shape: (37994, 12)

## 3. Data Wrangling

### 3.1. Reducing Data Size

In [35]:
# Reduce the dtype of the columns to save memory

df['year'] = df['year'].astype('int16')
df['month'] = df['month'].astype('int8')
df['value'] = df['value'].astype('float32')

In [36]:
# check the df information 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37994 entries, 0 to 37993
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                37994 non-null  int16
 1   month               37994 non-null  int8
 2   duoarea             37994 non-null  object
 3   area-name           37994 non-null  object
 4   product             37994 non-null  object
 5   product-name        37994 non-null  object
 6   process             37994 non-null  object
 7   process-name        37994 non-null  object
 8   series              37994 non-null  object
 9   series-description  37994 non-null  object
 10  value               37518 non-null  float32
 11  units               37994 non-null  object
dtypes: float32(1), int16(1), int8(1), object(9)
memory usage: 2.9+ MB

### 3.2. Missing Value Check

In [37]:
# check the missing values in the data

df.isnull().sum()

year                    0
month                   0
duoarea                 0
area-name               0
product                 0
product-name            0
process                 0
process-name            0
series                  0
series-description      0
value                 476
units                   0
dtype: int64

In [41]:
# filter out the missing values in the 'value' column

df = df[df["value"].isnull() == False]

In [43]:
# check the missing values again

df2.isnull().sum()

year                  0
month                 0
duoarea               0
area-name             0
product               0
product-name          0
process               0
process-name          0
series                0
series-description    0
value                 0
units                 0
dtype: int64

In [44]:
# control the shape

df.shape

(37518, 12)

### 3.3. Duplicate Value Check

In [45]:
# checking the duplicates in the data

df.duplicated().value_counts()

False    37518
Name: count, dtype: int64

### 3.4. Deriving New Columns

In [46]:
# deriving a new datetime column 'date' from the 'year' and 'month' columns

df['date'] = pd.to_datetime(df[['year', 'month']].assign(day=1)) # assume day is 1 for all entries to avoid ValueError

In [47]:
# make the date column the index of the dataframe

df.set_index('date', inplace=True)

In [48]:
# check df head

df.head()

            year  month duoarea area-name product product-name process            process-name    series                                 series-description   value units
date
2014-01-01  2014      1     SFL   FLORIDA    EPG0  Natural Gas     VCS  Commercial Consumption  N3020FL2  Natural Gas Deliveries to Commercial Consumers...  6605.0  MMCF
2014-01-01  2014      1     SNH    USA-NH    EPG0  Natural Gas     VCS  Commercial Consumption  N3020NH2  Natural Gas Deliveries to Commercial Consumers...  1691.0  MMCF
2014-01-01  2014      1     SOR    USA-OR    EPG0  Natural Gas     VCS  Commercial Consumption  N3020OR2  Natural Gas Deliveries to Commercial Consumers...  4711.0  MMCF
2014-01-01  2014      1     SDE    USA-DE    EPG0  Natural Gas     VCS  Commercial Consumption  N3020DE2  Natural Gas Deliveries to Commercial Consumers...  2128.0  MMCF
2014-01-01  2014      1     SAZ    USA-AZ    EPG0  Natural Gas     VCS  Commercial Consumption  N3020AZ2  Natural Gas Deliveries to Commercial Consumers...  3915.0  MMCF

### 3.5. Dropping Unnecessary Columns

In [49]:
# check the number of unique products in the product column

df["product"].nunique()

1

In [50]:
# as there is only one product, we can drop the product column

df = df.drop(columns=['product'])

In [51]:
# check the number of unique products in the product-name column

df["product-name"].nunique()

1

In [52]:
# as there is only one product, we can drop the product column

df = df.drop(columns=['product-name'])

In [53]:
# series and series-description are out of scope for this analysis, so we can drop them

df = df.drop(columns=['series', 'series-description'])

In [54]:
# drop the columns that are neither residential nor commercial consumption as they are not relevant for this analysis
df["process-name"].unique()

array(['Commercial Consumption', 'Vehicle Fuel Consumption',
       'Delivered to Consumers', 'Industrial Consumption',
       'Residential Consumption', 'Electric Power Consumption',
       'Pipeline Fuel Consumption', 'Lease and Plant Fuel Consumption'],
      dtype=object)

In [55]:
# filter the dataframe to keep only the rows where process-name is either 'Residential Consumption' or 'Commercial Consumption'

df = df[df["process-name"].isin(["Residential Consumption", "Commercial Consumption"])]

In [56]:
# check if only commercial and residential consumption are left in the process-name column

df["process-name"].unique()

array(['Commercial Consumption', 'Residential Consumption'], dtype=object)

In [57]:
# check the df information again

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12558 entries, 2014-01-01 to 2024-01-01
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          12558 non-null  int16
 1   month         12558 non-null  int8
 2   duoarea       12558 non-null  object
 3   area-name     12558 non-null  object
 4   process       12558 non-null  object
 5   process-name  12558 non-null  object
 6   value         12558 non-null  float32
 7   units         12558 non-null  object
dtypes: float32(1), int16(1), int8(1), object(5)
memory usage: 674.5+ KB

### 3.6. Changing Column Names

In [58]:
# make the duoarea column more readable by changing its name to 'area'

df = df.rename(columns={'duoarea': 'area'})

In [59]:
# check the df 

df.head()

            year  month area area-name process            process-name   value units
date
2014-01-01  2014      1  SFL   FLORIDA     VCS  Commercial Consumption  6605.0  MMCF
2014-01-01  2014      1  SNH    USA-NH     VCS  Commercial Consumption  1691.0  MMCF
2014-01-01  2014      1  SOR    USA-OR     VCS  Commercial Consumption  4711.0  MMCF
2014-01-01  2014      1  SDE    USA-DE     VCS  Commercial Consumption  2128.0  MMCF
2014-01-01  2014      1  SAZ    USA-AZ     VCS  Commercial Consumption  3915.0  MMCF

In [63]:
# checking the df last time before exporting

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12558 entries, 2014-01-01 to 2024-01-01
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          12558 non-null  int16
 1   month         12558 non-null  int8
 2   area          12558 non-null  object
 3   area-name     12558 non-null  object
 4   process       12558 non-null  object
 5   process-name  12558 non-null  object
 6   value         12558 non-null  float32
 7   units         12558 non-null  object
dtypes: float32(1), int16(1), int8(1), object(5)
memory usage: 674.5+ KB

In [64]:
# checking the head 

df.head()

            year  month area area-name process            process-name   value units
date
2014-01-01  2014      1  SFL   FLORIDA     VCS  Commercial Consumption  6605.0  MMCF
2014-01-01  2014      1  SNH    USA-NH     VCS  Commercial Consumption  1691.0  MMCF
2014-01-01  2014      1  SOR    USA-OR     VCS  Commercial Consumption  4711.0  MMCF
2014-01-01  2014      1  SDE    USA-DE     VCS  Commercial Consumption  2128.0  MMCF
2014-01-01  2014      1  SAZ    USA-AZ     VCS  Commercial Consumption  3915.0  MMCF

In [65]:
# checking the shape

df.shape

(12558, 8)

## 4. Exporting Data

In [67]:
df.to_parquet(os.path.join(path, "prepared_data", "gas_data_cleaned.parquet"))